#container
	.center(id="nameForm")
		.centerText
			p What should we call you?
			input(type="text", id="nameInput")
	.clear
	#gameContainer(class="center")
		#joinLink
		#scoreContainer(class="leftBlock")
		.clear
		#gamePieces(class="centerText")
			p You must select a color first
		.clear
		#board
.scripts
	:javascript
		|	var currentTime = new Date(),
		|			secs = currentTime.getTime();	
		| head.js("/public/js/jquery.js", 
		|					"/public/js/socket.io.js", 
		|					"/public/js/board.js?v=" + secs, 
		|					"/public/js/socket.js?v=" + secs, 
		|					"/public/js/index.js?v=" + secs, 
		|					"/public/js/jquery.cookie.js", 
		|					"/lib/uuid.js",
		| function() {
		| 	initIndex();
		| });