!!! 5
html(lang="en")
  head
    title goBoard v0.0.1
		link(rel="stylesheet", href="/public/css/style.css")
		script(src="/public/js/head-min.js", type="text/javascript")
  body
		#topContainer!= body
		input(class="xss", value=xid)